@import (less) "reset.css";
@import (less) "normalize.css";
@import (less) "grid.less";
@import (less) "font.less";

*{
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, FreeSans, sans-serif;
  font-weight: normal;
  height: 100%;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  @media screen and (min-width: 768px) {
    width: 750px;
  }
  @media screen and (min-width: 992px) {
    width: 970px;
  }
  @media screen and (min-width: 1200px) {
    width: 1170px;
  }
}