block vars
    - var pageTitle = 'Сайт-резюме'


doctype html

html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title=pageTitle

        block styles
            link(rel='stylesheet', href='./build/style/main.css')

        block scripts
            script(src='./build/js/main.min.js')

    body

        block header
            include components/header

        block content

            main

                - var nav__li = [ {title:'Интро', link:'#intro'}, {title:'Обо мне', link:'#about'}, {title:'Навыки', link:'#skills'}, {title:'Интересы', link:'#pens'}, {title:'Контакты', link:'#contacts'} ]
                nav.nav
                    .container
                        .nav__links
                            ul
                            - for (var i = 0; i < nav__li.length; i++)
                                li
                                    a(href=nav__li[i].link).link.link_nav=nav__li[i].title
                        a(href="")#hamburger

                section#about.block.block_gray
                    .container
                        .section__title
                            h2.h2 Немного обо мне
                            p.p Познакомимся поближе
                        .column.column_left
                            h3.h3 Немного о себе
                            p.p Доброго времени суток, я веб-разработчик из Москвы. Отлично знаю HTML5/CSS3. Имею хорошие знания JavaScript/jQuery и php. Влюбился в БЭМ с первого взгляда. Стараюсь писать красивый код - красивый как с точки зрения логической структуры, так и оформления. Всегда забочусь о гибкости вёрстки и удобстве её дальнейшего использования. Верстаю в максимальном соответствии с макетом. Умею делать кросс-браузерную, респонсивную вёрстку. Мои любимые инструменты - препроцессор Less (в связке со сборщиком Gulp) и шаблонизатор Pug(Jade). Есть опыт работы с Git.
                        .column.column_right
                            h3.h3 Персональная информация
                            p.p Митусов Кирилл Александрович
                            p.p Город: Москва
                            p.p Родился: 25 апреля 1993 года
                            p.p.icon-skype Skype:
                                a(href="skype:jack-fighter49?call") jack-fighter49
                            p.p.icon-mail Email:
                                a(href="mailto:nidhogg49@gmail.com") nidhogg49@gmail.com


                section#skills.block
                    .container
                        .section__title
                            h2.h2 Навыки
                            p.p Немного подробнее о том, что я умею и знаю

                        .column.column_left
                            h3.h3 Профессиональные, технические навыки
                            ul.ul_main
                                li
                                    span HTML5,CSS3:
                                    ul
                                        li.icon-ok Адаптивная, валидная и кроссбраузерная верстка
                                        li.icon-ok Twig, Pug(jade)
                                        li.icon-ok Less,Stylus
                                        li.icon-ok Twitter Boostrap 3
                                li
                                    span JavaScript:
                                    ul
                                        li.icon-ok jQuery(jQueryUI, AJAX и т.д.)
                                        li.icon-ok Работа с событиями
                                        li.icon-ok Типы данных, замыкания, область видимости и т.д.
                                li
                                    span Сборка проектов:
                                    ul
                                        li.icon-ok Gulp
                                        li.icon-ok Grunt
                                li
                                    span VCS:
                                    ul
                                        li.icon-ok Git
                                        li.icon-ok bitbucket/github

                        .column.column_right
                            h3.h3 Нетехнические навыки, личные качества
                            ul.ul_main
                                p.p Умение работать в команде.
                                p.p Умение находить решения — самостоятельно искать решения проблемы, пробовать разные варианты, гуглить и только потом дабы не тратить драгоценное время задавать конкретные вопросы.
                                p.p Нести ответственность за свои решения — умение принимать технические решения и доводить их до конца, концентрироваться на задаче.
                                p.p Коммуникабельный, пунктуальный, исполнительный, быстро обучаемый. Неукоснительно соблюдаю правила внутреннего трудового распорядка, служебной субординации, корпоративной этики. Опрятен.

                section#pens.block.block_gray
                    .container
                        .section__title
                            h2.h2 Профессиональные интересы (Self-Studying)
                            p.p Учить новое нужно постоянно

                        .column.column_left
                            h3.h3 Текущие интересы
                            p.p Углубленное изучение JS. В частности, дальнейшие изучение и затерание до дыр Флэнагана, которого к сожалению имею только в электронном виде, JavaScript.Ninja и других источников.
                            p.p Совершенствоваться в верстке, получать опыт и так же продолжать черпать новые знания, например путем изучения книги Бена Фрейна "HTML5 и CSS3", счастливым обладателем которой я являюсь.
                            p.p Скачать, ой т.е. купить курсы React+Redux и начать углубленное изучение онных.


                        .column.column_right
                            h3.h3 Планы на будущее
                            ul.ul_main
                                p.p Начать вести блог посвященный frontend'у.
                                p.p Не только читать, но так же делать переводы статей.
                                p.p Разработать профессиональный веб-инструмент (фреймворк, CMS, CRM или иной) для какого-нибудь специального применения)
                                p.p Ну и конечно же изучать изучать и еще раз изучать!


                section#contacts.contacts.block
                    .container
                        .section__title
                            h2.h2 Контакты
                            p.p Как связаться со мной

        block footer
            include components/footer